body 
{
	height:100%;
    padding: 2em;
}
.app
{
	margin-top: 4em !important;
}

.action-button
{
	text-align:left;
	margin-top:.3em;
    display:block;
	width:100%;
	
	&:after {
		font-family: 'Glyphicons Halflings';  
		content: "\e114";  
		float: right;        
		color: grey;  
	}
	
	&.collapsed:after {
		content: "\e080";  
	}
}

.description 
{
	font-size: .8em;
	font-color:#A4A4A4;
    display: block;
    width: 100%;
}

.app >.node-view{

	margin-left: 0!important;
	
}

	
.node-view
{
	margin-top: 2em;
	margin-left: 2em;

	form{
		margin-top:2em;
	}
	fieldset{
		margin-left:2em;
	}
	
	.request-result{
		margin-top: 2em;
		border: 1px solid #46b8da;
		
		> span{
			padding: .5em;
			background: #46b8da;
			color: white;
			font-size: 1em;
			right: 0;
			display: inherit;
		}
		> ul{
			margin-left:.5em !important;
		}
	}

}

