body 
{
	width:100%;
	height:100%;
    padding: 2em;
}

#app
{
	margin-top: 4em;
}
.description 
{
	font-size: .8em;
	font-color:#A4A4A4;
    display: block;
    width: 100%;
}

.node-view
{
	li{
		list-style: none;
	}
	
	li:not(:first-child){
		padding-top: 2em;
	}
}

.node-content{
	margin-top: 1em;
    padding-top: .5em;
	
	border-width: 1px;
	border-left-style:solid;
	
	h4{
		//display:inline-block;
		//margin-right:1em;
		//min-width: 3em;
	}
	.call-container{
		border-left-style:none;
	}
	.indent{
		margin-left:1em;
		:not(:first-child){
			border-left-style:dotted;
			border-width: 1px;
		}
		div{
			margin-left:1em;
		}
	}
	.call-button{
		margin-left: 2em;
		margin-top: 1em;
	}
	.no-model{
		margin-left: 1em;
		color:red;
		font-size: .8em;
	}
}

.action-label
{
	margin-top:.2em;
    display:block;
}
.action-button
{
	text-align:left;
	margin-top:.3em;
    display:block;
	width:100%;
	
	&:after {
		font-family: 'Glyphicons Halflings';  /* essential for enabling glyphicon */
		content: "\e114";  
		float: right;        /* adjust as needed */
		color: grey;  
	}
	
	&.collapsed:after {
		content: "\e080";  
	}
}

/*.call-container
{
	margin-top:.3em;
    display:block;
}


form 
{
    padding-bottom: 2em;
}*/

.jsoneditor-container
{
	margin-top: 1em;
}